# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TPMulti.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yvan.bladet\Desktop\TPMulti\.idea\.idea.TPMulti\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
