# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TankDrifftoParadiz.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\TankDrifftoParadiz\.idea\.idea.TankDrifftoParadiz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
